:root {
  --color-white: #ece9e9;
  --color-black: #2A2A2C;
  --color-fg: var(--color-white);
  --color-bg: #312b5c;
  --color-bg-control: #3d366d;
  --color-fg-control-dis: #8c81d3;
  --color-fg-control-focus: #8c81d33d;
  --color-bg-grad-start: #27224da4;
  --color-bg-grad-end: #3d366da4;
  --color-trans: #00000000;
  --color-link: #185ae7;
  --color-warning: #c43410;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-fg: var(--color-white);
    --color-bg: var(--color-black);
    --color-bg-trans: #35367481;
    --color-neutral-light: #ffffff23;
    --color-modal-bg: #000000bd;
  }
} */

/* @media (prefers-color-scheme: light) {
  :root {
    --color-fg: var(--color-black);
    --color-bg: var(--color-white);
    --color-bg-trans: #ffffffb4;
    --color-neutral-light: #ffffffe0;
    --color-modal-bg: #eeeeeebd;
  }
} */

body {
  overflow: hidden;
  font-family: Menlo;
  font-weight: 400;
  /* user-select: none; */
  margin: 0;
  background-color: transparent;
  color: var(--color-fg);
  -webkit-font-smoothing: antialiased;
}

.main-container {
  display: grid;
  grid-template-rows: 30px 1fr;
  height: 100vh;
}

.header-container {
  grid-row: 1;
  -webkit-app-region: drag;
}

.focus-container {
  grid-row: 2;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr 1fr;
  height: calc(100vh - 30px);
}

.doc-list {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  overflow-y: auto;
}

.parsed-text {
  padding: 3px;
  grid-column: 2;
  grid-row: 2;
  overflow-y: auto;
}

.doc-stats {
  grid-column: 2;
  grid-row: 1;
}

.drop-item {
  margin: 3px;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.stat-item {
  margin: 3px;
  cursor: pointer;
}